# Backend API Connection
# Local development: http://localhost:8080
# Production: https://your-backend-api.com
API_URL=http://localhost:8080

# Supabase Client Configuration
SUPABASE_URL=<supabase_postgres_db_url>
SUPABASE_KEY=<supabase_key>

# Environment Mode
NODE_ENV=production/development
LOG_LEVEL=DEBUG
