AWS_ACCESS_KEY_ID=<>
AWS_SECRET_ACCESS_KEY=<>
AWS_REGION=<>
CORS_ALLOWED_ORIGIN=<your-localhost-url>,<your-other-origin(vercel)>

RATE_LIMIT_CAPACITY=<>
RATE_LIMIT_REFILL_TOKENS=<>
RATE_LIMIT_REFILL_DURATION_MINUTES=<>