<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0/EN/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOS_API_BASE_URL</key>
	<string>$(IOS_API_BASE_URL)</string>
	<key>IOS_API_BASE_BACKUP_URL</key>
	<string>$(IOS_API_BASE_BACKUP_URL)</string>
	<key>IOS_SIMULATOR_BASE_URL</key>
	<string>$(IOS_SIMULATOR_BASE_URL)</string>
</dict>
</plist>
